WebContent/wsdl/POInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getOrdersByBid">
    <complexType>
     <sequence>
      <element name="bid" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getOrdersByBidResponse">
    <complexType>
     <sequence>
      <element name="getOrdersByBidReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getOrdersByBidRequest">

      <wsdl:part element="impl:getOrdersByBid" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getOrdersByBidResponse">

      <wsdl:part element="impl:getOrdersByBidResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="POInfo">

      <wsdl:operation name="getOrdersByBid">

         <wsdl:input message="impl:getOrdersByBidRequest" name="getOrdersByBidRequest">

       </wsdl:input>

         <wsdl:output message="impl:getOrdersByBidResponse" name="getOrdersByBidResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="POInfoSoapBinding" type="impl:POInfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getOrdersByBid">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getOrdersByBidRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getOrdersByBidResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="POInfoService">

      <wsdl:port binding="impl:POInfoSoapBinding" name="POInfo">

         <wsdlsoap:address location="http://localhost:8080/4413project/services/POInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
